body {
    background-color: rgb(39, 16, 16)
}

h1 {
    display: block;
    width: 800px;
    margin: 10px auto;
    padding: 12px;
    text-align: center;
    background-color: hsl(350, 25%, 40%);
    color: hsl(0, 0%, 97%);
}

h2 {
    background-color: hsl(350, 50%, 20%);
    color: hsl(0, 0%, 85%);
    padding: 3px;
}

div {
    width: 700px;
    margin: 0 auto;
}
.navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}

a {
    text-decoration: none;
    color: hsl(155, 0%, 100%);
    display: block;
    background-color: hsl(350, 50%, 25%);
    padding: 10px;
}

a:hover,
a:focus {
        background-color: hsl(350, 50%, 35%);
}

img {
    width: 700px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    border: 5px solid hsl(350, 50%, 25%);
}

.recipe-container {
    margin: 10px auto;
    background-color: hsl(350, 20%, 50%);
    padding: 15px;
}

.recipe-container p,
.recipe-container li {
    color: hsl(155, 0%, 5%);
}

.home-button {
    width: 712px;
    margin: 0 auto;
    text-align: center;
}