body {
    background-color: rgb(39, 16, 16)
}

h1 {
    display: block;
    width: 800px;
    margin: 10px auto;
    padding: 12px;
    text-align: center;
    background-color: hsl(350, 25%, 40%);
    color: white;
}

h2 {
    background-color: hsl(350, 50%, 20%);
    color: white;
}

div {
    width: 700px;
    margin: 0 auto;
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}

a {
    text-decoration: none;
    color: hsl(155, 0%, 100%);
    display: block;
    background-color: hsl(350, 50%, 25%);
    padding: 10px;
}

img {
    width: 700px;
    height: auto;
    margin: 0 auto;
}

.recipe-container {
    margin: 10px auto;
    background-color: hsl(350, 20%, 50%);
    padding: 15px;
}