body {
    background-color: rgb(39, 16, 16)
}

h1 {
    display: block;
    width: 800px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    background-color: hsl(350, 25%, 40%);
    color: white;
}

div {
    width: 700px;
    margin: 0 auto;
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}

a {
    text-decoration: none;
    color: hsl(155, 0%, 100%);
    display: block;
    background-color: hsl(350, 50%, 25%);
    padding: 10px;
}